.message{
    position: fixed;
    padding: 15px;
    top: -150px;
    left: 35%;
    width: 30%;
    border-radius: 5px;
    color: #fff;
    font-family: 'Product Sans Regular';
    opacity: 0;
    z-index: 20000;
}

.message h1{ margin: 5px; }

.message p{
    margin: 0;
    margin-top: 10px;
    max-height: 60px;
    overflow-y: scroll;
    text-align: justify;
    color: #fff;
}

.message p::-webkit-scrollbar{ display: none; }

.message p{ -ms-overflow-style: none; scrollbar-width: none; }

.message .interact{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.message:hover .interact{
    display: flex;
	align-items: center;
	justify-content: space-around;
}

.message button{
    display: flex;
    height: 43px;
    width: 25%;
    border-radius: 5px;
    padding: 0;
    background-color: transparent;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
	align-items: center;
	justify-content: space-around;
}

.message #action ion-icon{ display: inline; font-size: 22px; }

.show-error, .show-info{
    transform: translateY(155px);
    opacity: 1;
    transition: opacity 1s, transform .35s;
}

.show-error{ background-color: #b41e10; }

.show-error button{ border: 3px solid #b41e10; color: #b41e10; }

.show-error button:hover{ background-color: rgba(239, 79, 45, .1); }

.show-info{ background-color: #13CE00; }

.show-info button{ border: 3px solid #13CE00; color: #13CE00; }

.show-info button:hover{ background-color: rgba(19, 206, 0, .1); }

.hide{
    transform: translateY(0px);
    opacity: 0;
    transition: opacity 1s, transform .35s;
}

@media screen and (max-width: 1280px){
    .message{ left: 20%; width: 60%; }
}

@media screen and (max-width: 600px){
    .message{ left: 5%; width: 85%; }
}

@media screen and (max-width: 430px){
    .message{
        left: 0;
        width: auto;
        right: 0;
        border-radius: 0;
        padding: 10px;
    }
    .message h1{ font-size: 1.2em; }
    .message p{ font-size: .8em; }
    .message .interact{ border-radius: 0; }
    .show-error{ transform: translateY(150px); }
}

@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"), url("../../fonts/google-sans-cufonfonts-webfont/ProductSans-Regular.woff") format("woff");
}
