.message{
    position: fixed;
    padding: 15px;
    top: -100px;
    left: 35%;
    width: 30%;
    border-radius: 5px;
    color: #fff;
    font-family: 'Product Sans Regular';
    opacity: 0;
}

.message h1{
    margin: 5px;
}

.message p{
    margin: 0;
    margin-top: 10px;
    max-height: 60px;
    overflow-y: scroll;
    text-align: justify;
}

.message p::-webkit-scrollbar {
    display: none;
}

.message p {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.message .interact{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}

.message:hover .interact{
    display: flex;
	align-items: center;
	justify-content: space-around;
}

.message button{
    display: block;
    height: 43px;
    width: 25%;
    border-radius: 5px;
    padding: 20px;
    padding-top: 10px;
    background-color: transparent;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.show-error{
    background-color: #EF4F2D;
    transform: translateY(105px);
    opacity: 1;
    transition: opacity 1s, transform .35s;
}

.show-error button{
    border: 3px solid #EF4F2D;
    color: #EF4F2D;
}

.show-error button:hover{
    background-color: rgba(239, 79, 45, .1);
}

.show-info{
    background-color: #13CE00;
    transform: translateY(105px);
    opacity: 1;
    transition: opacity 1s, transform .35s;
}

.show-info button{
    border: 3px solid #13CE00;
    color: #13CE00;
}

.show-info button:hover{
    background-color: rgba(19, 206, 0, .1);
}

.hide{
    transform: translateY(0px);
    opacity: 0;
    transition: opacity 1s, transform .35s;
}


@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"), url("../../fonts/google-sans-cufonfonts-webfont/ProductSans-Regular.woff") format("woff");
}
