html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  height: 100%;
  color: white;
}

.list_task::-webkit-scrollbar {
  display: none
}

.modal .modal-wrapper::-webkit-scrollbar {
  display: flex;
}

body {
  opacity: 0;
}

:-webkit-scrollbar-track {
  background-color: #b2bec3;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(141, 141, 141);
  border: 3px solid white;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(141, 141, 141);
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.liste_taches li span::selection {
  color: #b41e10;
  background-color: none;
  font-weight: bold;
  text-decoration: underline;
}

.table_contain td p::selection {
  color: #b41e10;
  background-color: none;
  font-weight: bold;
  text-decoration: underline;
}

@font-face {
  font-family: 'happy_monkeyregular';
  src: url("../fonts/happymonkey-regular-webfont.woff2") format("woff2"), url("../fonts/happymonkey-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"), url("../../fonts/google-sans-cufonfonts-webfont/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Thin Regular"), url("../../fonts/google-sans-cufonfonts-webfont/ProductSans-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Light Regular"), url("../../fonts/google-sans-cufonfonts-webfont/ProductSans-Light.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Black.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Thin Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Light Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Bold"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Bold Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-BlackItalic.woff") format("woff");
}

/*MENU HAUT*/
#menu_haut {
  background-color: none;
  border-bottom: rgba(141, 141, 141, 0.342) 1px solid;
  padding: 8px;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: relative;
  height: 45px;
}

#menu_haut #burger {
  height: 20px;
  -webkit-filter: hue-rotate(70deg) brightness(110%);
  filter: hue-rotate(70deg) brightness(110%);
  margin-left: 30px;
  margin-top: 15px;
}

#menu_haut #logo {
  height: 45px;
  /*margin-left: 30px;*/
  /*border:black 1px solid;*/
}

#logo_a {
  margin-left: 30px;
}

#menu_haut #findField {
  background-color: #f1f3f4;
  border: #f1f3f4 1px solid;
  border-radius: 10px;
  background-image: url(../../img/search.png);
  background-position: 3.5%;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 4%;
  height: auto;
  margin-left: 3%;
  width: 40%;
  font-family: "Product Sans Regular";
  font-size: 16px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

#menu_haut #findField:focus {
  background-color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: 0.5px 0.5px 5px #555;
  box-shadow: 0.5px 0.5px 5px #555;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#menu_haut #account_logo_img {
  height: 30px;
  width: 30px;
  margin-top: 10px;
  position: absolute;
  right: 0;
  margin-right: 13px;
  transition: all 0.2s;
  border-radius: 50%;
}

#menu_haut #account_logo_img:hover {
  cursor: pointer;
  border-radius: 25%;
  transition: all 0.2s;
}

#menu_haut #help_logo_img {
  height: 20px;
  margin-top: 15px;
  position: absolute;
  right: 0;
  margin-right: 60px;
  -webkit-filter: invert(25%);
  filter: invert(25%);
}

#menu_haut #gear_logo_img {
  height: 20px;
  margin-top: 15px;
  position: absolute;
  right: 0;
  margin-right: 100px;
  -webkit-filter: invert(25%);
  filter: invert(25%);
}

#menu_haut #switch_logo_img {
  height: 20px;
  margin-top: 15px;
  position: absolute;
  right: 0;
  margin-right: 140px;
  -webkit-filter: invert(25%);
  filter: invert(25%);
}

#menu_haut #switch_logo_img:hover {
  cursor: pointer;
}

#menu_haut #gear_logo_img:hover {
  cursor: pointer;
}

#project_actual:hover {
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.164);
}

#project_actual {
  font-family: "Product Sans Regular";
  font-size: 15px;
  right: 0;
  position: absolute;
  margin-right: 180px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid transparent;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  margin-top: 8px;
}

.onhover_top_animation {
  transform: scale(1) rotate(0deg);
  transition: all 0.2s
}

.onhover_top_animation:hover {
  transform: scale(1.1);
  animation: rotateLogoImg 0.3s;
}

@keyframes rotateLogoImg {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(0deg) scale(1.1);
  }
}

/*MENU DE GAUCHE*/
#menu_gauche {
  background-color: rgba(255, 255, 255, 0);
  width: 100px;
  margin-top: -0px;
  position: relative;
  transition-property: width, margin;
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0s, 0.4s;
  margin-left: 0px;
}

.new_task {
  margin-top: 25px;
  background-color: none;
  width: 210px;
  margin-left: 23px;
  padding: 2px 2px 2px 0px;
  border-radius: 40px;
  text-align: center;
  font-family: "Product Sans Regular";
  font-size: .875rem;
  letter-spacing: .25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-shadow: 0.5px 0.5px 3px #555;
  box-shadow: 0.5px 0.5px 3px #555;
  -webkit-transition: width 0.2s ease, margin 0.2s ease-in-out;
  transition: width 0.2s ease, margin 0.2s ease-in-out;
  cursor: pointer;
}

.img_menu_gauche_js {
  -webkit-transition: margin 0.3s ease;
  transition: margin 0.3s ease;
  margin-left: -23px;
}

.selectedmenu,
.notselectedmenu {
  -webkit-transition: padding 0.2s ease;
  transition: padding 0.2s ease;
  padding-right: 0px;
}

#text_menu_left_1,
#text_menu_left_2,
#text_menu_left_3,
#text_menu_left_4,
#text_menu_left_5 {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease;
  transition: opacity 0.1s ease;
}

ul {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  z-index: 9999;
}

#menu_gauche ul li img {
  height: 50px;
  -webkit-filter: invert(50%) brightness(0%);
  filter: invert(50%) brightness(0%);
  height: 20px;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-right: 18px;
}

#menu_gauche ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-size: .875rem;
  letter-spacing: .2px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 35px;
  padding-left: 71px;
  padding-right: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

#menu_gauche ul .notselectedmenu:hover {
  background-color: #f1f3f4;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

#menu_gauche ul {
  margin-left: -50px;
}

.selectedmenu {
  color: #b41e10;
  background-color: #fce8e6;
  font-weight: bold;
}

.selectedmenu:hover {
  color: #b41e10;
  background-color: #fce8e6;
  font-weight: bold;
  cursor: pointer;
}

#copyright {
  font-family: 'Roboto', sans-serif;
  font-size: 0px;
  color: rgba(0, 0, 0, 0.342);
  position: absolute;
  bottom: 0;
  left: 10px;
}

.section_en_dessous_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/*MENU BURGER ICON*/
*:focus {
  outline: none;
}

#webapp_cover {
  position: absolute;
  top: 30px;
  width: 10px;
  margin: 0 auto;
  margin-left: -18px;
  -webkit-transform: translateY(-50%) scale(0.7);
  transform: translateY(-50%) scale(0.7);
  background-color: none;
}

#menu_button {
  width: 39px;
  overflow: hidden;
  background-color: transparent;
}

#menu_checkbox {
  display: none;
}

#menu_label {
  position: relative;
  display: block;
  height: 29px;
  background-color: transparent;
  cursor: pointer;
}

#menu_label:before,
#menu_label:after,
#menu_text_bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #b41e10;
}

#menu_label:before,
#menu_label:after {
  content: '';
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  border-radius: 20px;
}

#menu_label:before {
  top: 0;
}

#menu_label:after {
  top: 12px;
}

#menu_text_bar {
  top: 24px;
  border-radius: 20px;
}

#menu_text_bar:before {
  content: 'MENU';
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #b41e10;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
}

#menu_checkbox:checked+#menu_label:before {
  left: -39px;
}

#menu_checkbox:checked+#menu_label:after {
  left: 39px;
}

#menu_checkbox:checked+#menu_label #menu_text_bar:before {
  -webkit-animation: moveUpThenDown 0.5s ease 0.2s forwards, shakeWhileMovingUp 0.5s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.5s forwards;
  animation: moveUpThenDown 0.5s ease 0.2s forwards, shakeWhileMovingUp 0.5s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.5s forwards;
}

@-webkit-keyframes moveUpThenDown {
  0% {
    top: 0;
  }

  50% {
    top: -27px;
  }

  100% {
    top: -14px;
  }
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }

  50% {
    top: -27px;
  }

  100% {
    top: -14px;
  }
}

@-webkit-keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  25% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  75% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  25% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  75% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@-webkit-keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  80% {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }

  90% {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  80% {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }

  90% {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

/*SETTINGS*/
#settings {
  position: absolute;
  font-family: "Product Sans Regular";
  font-size: 1rem;
  font-weight: 500;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: #4b4b4b 0px 0px 15px;
  box-shadow: #4b4b4b 0px 0px 15px;
}

#settings .modal-wrapper {
  width: 50%;
  /*height: 50%;*/
  top: 20%;
  left: 25%;
}

#settings_title {
  text-align: center;
  color: #b41e10;
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 20px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

.row_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

#col_settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.form_bug_report {
  width: 80%;
  margin-left: calc(10% - 20px);
}

#col_settings textarea {
  resize: none;
  width: 100%;
  height: 100px;
  border: 1px solid #b8b8b8;
  border-radius: 20px;
  padding: 10px;
  resize: none;
  font-family: "Product Sans Regular";
  font-size: 0.9rem;
  padding: 20px;
}

#col_settings textarea:focus {
  background-color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: 0.5px 0.5px 5px #555;
  box-shadow: 0.5px 0.5px 5px #555;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.row_settings p {
  margin-left: 20px;
  text-align: center;
}

.row_settings_title p {
  text-align: center;
}

.close_settings {
  color: #aaa;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  right: 0;
  text-align: right;
  margin-right: 10px;
  font-size: 28px;
  font-weight: bold;
  top: 5px;
}

.close_settings:hover,
.close_settings:focus {
  color: #b41e10;
  text-decoration: none;
  cursor: pointer;
}

input.apple-switch {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #b8b8b8;
  border-radius: 50px;
  -webkit-box-shadow: inset -20px 0 0 0 #f1f1f1;
  box-shadow: inset -20px 0 0 0 #f1f1f1;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  right: 0;
  margin-right: 20px;
}

input.apple-switch:hover {
  cursor: pointer;
}

input.apple-switch:checked {
  border-color: #4ED164;
  -webkit-box-shadow: inset 20px 0 0 0 #4ED164;
  box-shadow: inset 20px 0 0 0 #4ED164;
}

input.apple-switch:checked:after {
  left: 20px;
  -webkit-box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
  box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

#bug_submission {
  height: 40px;
  width: 100px;
  background-color: transparent;
  color: #b41e10;
  outline: none;
  border: white 2px solid;
  font-family: "Product Sans Regular";
  font-size: 1rem;
  font-weight: 500;
  margin-top: 20px;
  margin-left: calc(50% - 25px);
}

#bug_submission:hover {
  height: 40px;
  width: 100px;
  background-color: #b41e10;
  color: #ffffff;
  outline: none;
  border: white 2px solid;
  font-family: "Product Sans Regular";
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

/*HELP MODAL*/
#help_modal {
  position: absolute;
  background-color: white;
  font-family: "Product Sans Regular";
  right: 0;
  top: 0;
  margin-top: 61px;
  margin-right: 60px;
  padding: 20px;
  display: none;
  z-index: 10000;
  -webkit-box-shadow: #4b4b4b 0px 0px 15px;
  box-shadow: #4b4b4b 0px 0px 15px;
  width: 50%;
}

#help_modal h1 {
  text-align: center;
  font-size: 20px;
  color: #b41e10;
}

#help_modal p {
  text-align: center;
  font-size: 13px;
  color: black;
}

#help_modal li {
  font-size: 15px;
  color: #b41e10;
  list-style: circle;
  text-decoration: none;
}

#help_modal table {
  width: 100%;
  height: auto;
}

#help_modal td {
  width: calc(20% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

#help_modal tr {
  display: flex;
  flex-direction: row;
}

#help_modal img {
  width: 20px;
  padding-right: 10px;
  -webkit-filter: invert(0%) grayscale(100%);
  filter: invert(0%) grayscale(100%);
}

#help_modal #account_help {
  width: 20px;
  height: 20px;
  -webkit-filter: invert(0%) grayscale(100%);
  filter: invert(0%) grayscale(100%);
}

#help_logo_img:hover {
  cursor: pointer;
}

/*MODAL SWAP PROJECT*/
#project h1 {
  font-family: "Product Sans Regular";
  font-size: 1rem;
  font-weight: lighter;
  margin-left: 10%;
}

#project h2 {
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  font-weight: lighter;
  ;
  margin-left: 10%;
}

.flex_project_modification {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.create_project_button {
  color: #b41e10;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Product Sans Regular";
}

.create_project_button:hover {
  text-decoration: underline;
}

.edit_project_button:hover {
  text-decoration: underline;
}

.edit_project_button {
  color: #b41e10;
  text-transform: uppercase;
  font-size: 13px;
  font-family: "Product Sans Regular";
}

.li_swap a {
  text-decoration: none;
  ;
}

.link_swap_project_div:hover {
  background-color: #f1f3f4;
}

.link_swap_project_div {
  padding: 5px 0 5px 0;
  ;
}

#project_modal_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 10000;
}

#project {
  position: absolute;
  overflow-y: auto;
  -webkit-box-shadow: #4b4b4b 0px 0px 15px;
  box-shadow: #4b4b4b 0px 0px 15px;
}

#project .modal-wrapper {
  width: 60%;
  height: 65%;
  top: 5%;
  left: 15%;
}

#header_project_modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header_project_modal img {
  height: 50px;
  padding: 20px;
}

#header_project_modal p {
  position: absolute;
  width: 100%;
  margin-left: -20px;
  background-color: rgba(0, 255, 98, 0);
  text-align: center;
  top: 0;
  margin-top: 36px;
  font-family: "Product Sans Regular";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
}

#header_project_modal span {
  position: absolute;
  width: 2%;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 20px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #7c7c7c;
  font-weight: bold;
  font-size: 28px;
}

#header_project_modal span:hover {
  position: absolute;
  cursor: pointer;
  width: 100%;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 20px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  font-size: 28px;
}

#projet_princ {
  /*margin-left: 20px;*/
  background-color: white;
  /*border: white 2px solid;*/
  font-family: "Product Sans Regular";
  font-size: 1.1rem;
  width: 300px;
  text-align: center;
  padding: 10px 14px 10px 6px;
  border: #bebebe 2px solid;
  position: absolute;
  right: 0;
  margin-right: 45px;
}

#projet_princ:hover {
  cursor: pointer;
}

#body_project_modal ul {
  /*margin-left: 20px;*/
  background-color: white;
  border-left: #bebebe 2px solid;
  border-right: #bebebe 2px solid;
  border-bottom: #bebebe 2px solid;
  font-family: "Product Sans Regular";
  font-size: 1.1rem;
  width: 300px;
  text-align: center;
  padding: 10px;
  display: none;
  margin-top: -11px;
  position: absolute;
  right: 0;
  margin-right: 45px;
  z-index: 999;
  height: 100px;
  overflow-y: scroll;
}

.form-select-user .select-general {
  background-color: white;
  border-left: #bebebe 2px solid;
  border-right: #bebebe 2px solid;
  border-bottom: #bebebe 2px solid;
  font-family: "Product Sans Regular";
  font-size: 1.1rem;
  width: 300px;
  text-align: center;
  text-align-last: center;
  padding: 10px;
  margin-right: 45px;
  margin-top: -21px;
  z-index: 999;
  position: absolute;
  right: 0;
}

.select-general:hover {
  cursor: pointer;
}

#body_project_modal li {
  left: 0;
  padding: 0;
  background-color: #fff;
}

#body_project_modal li:hover {
  left: 0;
  padding: 0;
  cursor: pointer;
  /*background-color: rgba(2, 2, 2, 0.329);*/
}

#flex_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#flex_arrow:hover {
  cursor: pointer;
}

#arrow {
  ;
}

#arrow:hover {
  cursor: pointer;
}

#change_title {
  font-family: "Product Sans Regular";
  font-size: 1.1rem;
  ;
  margin-left: 20px;
}

#flex_arrow section {
  right: 0;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: right;
  width: 400px;
  background-color: rgba(255, 0, 0, 0);
}

/*ACCOUNT MODAL*/
#account .modal-wrapper {
  width: 30%;
  height: auto;
  background-color: #fff;
  top: 20%;
  left: 35%;
  padding-top: 20px;
  padding-bottom: 70px;
  -webkit-box-shadow: #4b4b4b 0px 0px 15px;
  box-shadow: #4b4b4b 0px 0px 15px;
}

#bc_img_logo_account {
  background-size: cover;
  height: 125px;
  width: 125px;
  position: absolute;
  margin-left: calc(50% - 80px);
  margin-top: 0px;
  border-radius: 50%;
  -webkit-box-shadow: #474747 0px 0px 20px;
  box-shadow: #474747 0px 0px 20px;
  z-index: 9999;
}

.name_user_title {
  text-align: center;
  z-index: 999;
  margin-top: 150px;
  font-family: "Product Sans Regular";
  font-size: 1.25rem;
  color: #b41e10;
  font-weight: 500;
  overflow: hidden;
  word-wrap: break-word;
}

.mail_user_title {
  color: #7c7c7c;
  font-family: "Product Sans Regular";
  font-size: 0.6rem;
  text-align: center;
  z-index: 999;
  margin-top: 10px;
}

.button_my_account,
.button_option,
.button_deconnect {
  color: #b41e10;
  background-color: transparent;
  border: #b41e10 2px solid;
  -webkit-box-shadow: #979797 0px 0px 5px;
  box-shadow: #979797 0px 0px 5px;
  font-family: "Product Sans Regular";
  font-size: 0.9rem;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 150px;
  margin-left: calc(50% - 75px);
  margin-top: 20px;
  text-align: center;
  display: block;
}

.button_my_account:hover,
.button_option:hover,
.button_deconnect:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.041);
}

.close_account_modal {
  position: absolute;
  font-size: 1.5rem;
  right: 0;
  margin-right: 20px;
  margin-top: 15px;
  font-weight: bold;
}

.close_account_modal:hover {
  color: #b41e10;
  cursor: pointer;
}

/*MODAL MY INFOS*/
#my_informations .modal-wrapper {
  width: 40%;
  height: 60%;
}

#my_informations h1 {
  text-align: center;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  font-size: 28px;
}

#my_informations img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: calc(50% - 50px);
  position: relative;
  z-index: -1;
}

#my_informations img:hover {
  cursor: pointer;
}

#my_informations .input_img {
  background-color: green;
  width: 100px;
  height: 100px;
  outline: none;
  border-radius: 50%;
  z-index: 999;
  padding: 0;
  box-shadow: 0;
}

#my_informations .input_img:hover {
  cursor: pointer;
}

input[type="file"] {
  position: absolute;
  font-size: 0px;
  color: #b8b8b8;
  width: 100%;
}

input[type="file"]:hover {
  cursor: pointer;
}

.form_add_img {
  margin-top: -105px;
  margin-left: -15px;
  width: 100px;
  opacity: 0;
  padding: 0;
}

.form_add_img:hover {
  cursor: pointer;
}

.img_account_change:hover {
  cursor: pointer;
}

.img_account_change {
  height: 100px;
  width: 100px;
  margin-left: calc(50% - 50px);
  border-radius: 50%;
  -webkit-box-shadow: #474747 0px 0px 10px;
  box-shadow: #474747 0px 0px 10px;
}

#my_informations h3 {
  margin-top: 21px;
  font-family: "Product Sans Regular";
  font-size: 14px;
  color: white;
  margin-left: 24px;
  opacity: 0;
}

#my_informations h3:hover {
  cursor: pointer;
}

#my_informations .account_change_column {
  display: flex;
  flex-direction: column;
}

#my_informations .account_change_row {
  display: flex;
  flex-direction: row;
  font-family: "Product Sans Regular";
  font-size: 15px;
  ;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}

#my_informations .input_fields {
  font-family: "Product Sans Regular";
  font-size: 15px;
  ;
  resize: none;
  width: 50%;
  text-align: left;
  background-color: white;
  outline: none;
  border: none;
  height: 18px;
  border-radius: 10px;
  transition: all 0.5s;
  padding: 15px;
}

#my_informations .input_fields:focus {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.5s;
}

#my_informations p {
  width: auto;
  padding-right: 10px;
}

#my_informations .modify_textarea {
  margin-right: 50px;
  width: auto;
  height: 18px;
  margin-left: 0;
  position: absolute;
  right: 0;
  margin-top: 15px;
  border-radius: 0;
  z-index: 1;
}

#my_informations .validate_textarea {
  margin-right: 50px;
  width: auto;
  height: 18px;
  margin-left: 0;
  position: absolute;
  right: 0;
  margin-top: 15px;
  border-radius: 0;
  z-index: 0;
}

#my_informations #validate_textarea_pseudo {
  margin-right: 50px;
  opacity: 0;
  z-index: 0;
  transition: all 0.3s;
}

#my_informations #validate_textarea_mail {
  margin-right: 50px;
  opacity: 0;
  z-index: 0;
  transition: all 0.3s;
}

#my_informations #validate_textarea_pass {
  margin-right: 50px;
  opacity: 0;
  z-index: 0;
  transition: all 0.3s;
}

#my_informations .modify_textarea:hover {
  cursor: pointer;
}

#my_informations .validate_textarea:hover {
  cursor: pointer;
}

#cancel_submit_changes {
  display: block;
  background-color: white;
  border: #b41e10 2px solid;
  border-radius: 3px;
  padding: 10px;
  align-items: center;
  margin-right: 30px;
  float: right;
}

#cancel_submit_changes:hover {
  cursor: pointer;
}

.buttons_delete_support {
  background-color: white;
  text-align: center;
}

.buttons_delete_support a {
  border: transparent solid 2px;
  width: 50%;
  text-align: center;
  font-size: 12px;
  color: gray;
  font-family: "Product Sans Light Regular";
}

/*MODAL CONFIRM*/
#delete .modal-wrapper {
  width: 40%;
  height: 25%;
}

#delete h1 {
  text-align: center;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  font-size: 19px;
}

#delete h2 {
  text-align: center;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  ;
  font-weight: normal;
  font-size: 15px;
}

.flex_confirm {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-family: "Product Sans Regular";
  font-size: 15px;
}

.yes_delete {
  color: #b41e10;
  text-decoration: none;
  font-size: 11px;
}

.no_delete {
  ;
  text-decoration: none;
}

.yes_delete:hover, .no_delete:hover {
  text-decoration: underline;
}

/*CREATE PROJECT MODAL*/
#create .modal-wrapper {
  width: 60%;
}

#header_create_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header_create_project img {
  height: 50px;
  padding: 20px;
}

#header_create_project p {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 255, 98, 0);
  text-align: center;
  top: 0;
  margin-left: -20px;
  margin-top: 36px;
  font-family: "Product Sans Regular";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
}

#header_create_project span {
  position: absolute;
  width: 2%;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 20px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #7c7c7c;
  font-weight: bold;
  font-size: 28px;
}

#header_create_project span:hover {
  position: absolute;
  cursor: pointer;
  width: 100%;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 20px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  font-size: 28px;
}

#create h1 {
  font-family: "Product Sans Regular";
  font-size: 1rem;
  font-weight: lighter;
  ;
  margin-left: 10%;
}

#create h2 {
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  font-weight: lighter;
  ;
  margin-left: 10%;
}

#new_project_name,
#new_project_git_name,
#new_project_git_repo {
  resize: none;
  width: 80%;
  margin-left: 10%;
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  height: 1rem;
  font-weight: lighter;
  ;
  padding: 10px;
  border: gray 1px solid;
  outline: none;
  border-radius: 10px;
}

#new_project_name:focus,
#new_project_git_name:focus,
#new_project_git_repo:focus,
#new_project_desc:focus {
  background-color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: 0.5px 0.5px 5px #555;
  box-shadow: 0.5px 0.5px 5px #555;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#div_form_new_project {
  background-color: #b41e10;
  height: 2px;
  width: 60%;
  margin-left: 20%;
}

#new_project_desc {
  resize: none;
  width: 80%;
  margin-left: 10%;
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  height: 6rem;
  font-weight: lighter;
  ;
  padding: 10px;
  border-radius: 10px;
  border: gray 1px solid;
  outline: none;
}

.flex_button_create {
  display: flex;
  flex-direction: column;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: 20px;
}

.button_create_project {
  font-family: "Product Sans Regular";
  font-size: 1rem;
  ;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  padding: 20px;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
}

.button_create_project:hover {
  background-color: #b41e10;
  color: white;
  cursor: pointer;
}

.button_cancel_create_project {
  font-family: "Product Sans Regular";
  font-size: 0.7rem;
  color: gray;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  padding: 20px;
  bottom: 0;
  right: 0;
}

.button_cancel_create_project:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*EDIT PROJECT MODAL*/
#edit_project .modal-wrapper {
  width: 60%;
}

#header_edit_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#header_edit_project img {
  height: 50px;
  padding: 20px;
}

#header_edit_project p {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 255, 98, 0);
  text-align: center;
  top: 0;
  margin-left: -20px;
  margin-top: 36px;
  font-family: "Product Sans Regular";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
}

#header_edit_project span {
  position: absolute;
  width: 2%;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 20px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #7c7c7c;
  font-weight: bold;
  font-size: 28px;
}

#header_edit_project span:hover {
  position: absolute;
  cursor: pointer;
  width: 100%;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 20px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  font-size: 28px;
}

#edit_project h1 {
  font-family: "Product Sans Regular";
  font-size: 1rem;
  font-weight: lighter;
  ;
  margin-left: 10%;
}

#edit_project h2 {
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  font-weight: lighter;
  ;
  margin-left: 10%;
}

#edit_project_name,
#edit_project_git_name,
#edit_project_git_repo {
  resize: none;
  width: 80%;
  margin-left: 10%;
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  height: 1rem;
  font-weight: lighter;
  ;
  padding: 10px;
  border: gray 1px solid;
  outline: none;
  border-radius: 10px;
}

#edit_project_name:focus,
#edit_project_git_name:focus,
#edit_project_git_repo:focus,
#edit_project_desc:focus {
  background-color: #ffffff;
  border: #ffffff 1px solid;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: 0.5px 0.5px 5px #555;
  box-shadow: 0.5px 0.5px 5px #555;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#div_form_new_project {
  background-color: #b41e10;
  height: 2px;
  width: 60%;
  margin-left: 20%;
}

#edit_project_desc {
  resize: none;
  width: 80%;
  margin-left: 10%;
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  height: 6rem;
  font-weight: lighter;
  ;
  padding: 10px;
  border-radius: 10px;
  border: gray 1px solid;
  outline: none;
}

.flex_button_edit {
  display: flex;
  flex-direction: column;
  padding-left: 40%;
  padding-right: 40%;
  padding-bottom: 20px;
}

.button_edit_project {
  font-family: "Product Sans Regular";
  font-size: 1rem;
  ;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  padding: 20px;
  bottom: 0;
  right: 0;
  text-transform: uppercase;
}

.button_edit_project:hover {
  background-color: #b41e10;
  color: white;
  cursor: pointer;
}

.button_cancel_edit_project {
  font-family: "Product Sans Regular";
  font-size: 0.7rem;
  color: gray;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0);
  outline: none;
  border: none;
  padding: 10px;
  bottom: 0;
  right: 0;
  text-align: center;
}

.button_cancel_edit_project:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*SEARCH MODALS*/
#not_find .modal-wrapper {
  width: 20%;
}

#not_find h1 {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 255, 98, 0);
  text-align: center;
  top: 0;
  margin-top: 36px;
  font-family: "Product Sans Regular";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  left: 0;
}

#not_find span {
  position: absolute;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 10px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #7c7c7c;
  font-weight: bold;
  font-size: 28px;
  z-index: 25;
}

#not_find span:hover {
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 10px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  font-size: 28px;
}

#not_find p {
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  font-weight: lighter;
  ;
  text-align: center;
}

#no_text .modal-wrapper {
  width: 20%;
}

#no_text h1 {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 255, 98, 0);
  text-align: center;
  top: 0;
  margin-top: 36px;
  font-family: "Product Sans Regular";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  left: 0;
}

#no_text span {
  position: absolute;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 10px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #7c7c7c;
  font-weight: bold;
  font-size: 28px;
  z-index: 25;
}

#no_text span:hover {
  position: absolute;
  cursor: pointer;
  background-color: rgba(0, 255, 98, 0);
  text-align: right;
  padding-right: 10px;
  right: 0;
  top: 0;
  margin-top: 29px;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  font-size: 28px;
}

#no_text p {
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  font-weight: lighter;
  ;
  text-align: center;
}

/* MEDIA QUERIES*/
@media only screen and (max-width: 820px) {
  #project_actual {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  #findField {
    display: none;
  }
}

@media only screen and (max-width: 1433px) {
  .utilisateur, .user_title {
    display: none;
  }
}

@media only screen and (max-width: 1240px) {
  .category_tache, .cate_title {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  .date, .date-table-cell {
    display: none;
  }

  .titre_tache {
    width: 45%
  }

  .desc_tache {
    width: 50%
  }

  #project .modal-wrapper {
    width: 100%;
    height: auto;
  }

  #create .modal-wrapper {
    width: 100%;
    height: auto;
  }

  #edit_project .modal-wrapper {
    width: 100%;
    height: auto;
  }

  #my_informations .modal-wrapper {
    width: 100%;
    height: auto;
  }

  #settings .modal-wrapper {
    width: 100%;
    height: auto;
  }

  #add_task .modal-wrapper {
    width: 100%;
    height: 100%;
  }

  aside[name=edit_popup_modal] .modal-wrapper {
    width: 100%;
    height: 100%;
  }

  #delete_task .modal-wrapper {
    width: 100%;
    height: auto;
  }

  #delete .modal-wrapper {
    width: 100%;
    height: auto;
  }

  aside[name=popup_modal_task] .modal-wrapper {
    width: 100%;
    height: auto;
  }

  #account .modal-wrapper {
    width: 50%;
    height: auto%;
  }
}

@media only screen and (max-width: 650px) {
  .desc_tache, .desc_title {
    display: none;
  }

  #menu_gauche {
    margin-left: -100px;
  }

  #flex_arrow {
    flex-direction: column;
  }

  #header_project_modal p {
    position: relative;
  }

  #change_title {
    margin-left: 0;
  }

  .form-select-user .select-general {
    position: relative;
    margin-top: 0px;
    margin-right: 0;
  }
}

@media only screen and (max-width: 383px) {
  #logo {
    display: none;
  }
}

@media only screen and (max-width: 1700px) {
  #not_find .modal-wrapper {
    width: 40%;
  }

  #no_text .modal-wrapper {
    width: 40%;
  }
}

@media only screen and (max-width: 900px) {
  #not_find .modal-wrapper {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  #not_find .modal-wrapper {
    width: 100%;
  }
}