html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(54, 57, 63);
}

html {
  scroll-behavior: smooth;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
}

* {
  user-select: none;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'happy_monkeyregular';
  src: url('fonts/happymonkey-regular-webfont.woff2') format('woff2'), url('fonts/happymonkey-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'stardos_stencilbold';
  src: url('fonts/stardos/stardosstencil-bold-webfont.woff2') format('woff2'), url('fonts/stardos/stardosstencil-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'stardos_stencilregular';
  src: url('fonts/stardos/stardosstencil-regular-webfont.woff2') format('woff2'), url('fonts/stardos/stardosstencil-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(../img/codebcc2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

#bcc_icons {
  background-image: url(../img/office2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 120px;
  padding-bottom: 120px;
}

#img_accueil {
  width: 100%;
  height: auto;
  position: fixed;
}

#div_img_accueil {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /*filter:blur(0px);*/
  transition: filter 1s ease;
  /*transform: scaleX(-1);*/
  /*filter: brightness(50%);*/
  background-color: rgba(255, 255, 255, 0);
}

#top_div_title {
  height: auto;
  position: fixed;
  align-items: center;
  z-index: 9999;
  background-color: rgb(255, 255, 255);
  width: 100%;
  color: rgb(91, 92, 96);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-bottom: 1vh;
}

#top_div_title_p {
  position: fixed;
  margin-top: 2vh;
  margin-left: 5vw;
  font-size: 4vh;
  transition-delay: 1s;
}

#videointro {
  position: absolute;
  height: 40%;
  margin-left: 30%;
  z-index: 2;
  margin-top: 25%
}

#petite_presentation {
  color: white;
  z-index: 2;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: absolute;
  width: calc(100% - 20px);
  text-align: left;
  font-size: 4vh;
  ;
  margin-left: 5%;
  margin-top: 15vh;
  /*background-color: #fff;*/
  height: 80%;
  word-wrap: break-word;
  word-break: normal;
}

.img_scroll_down_container {
  position: absolute;
  background-color: none;
  ;
  width: 100vw;
  left: 0;
  z-index: 1000;
  padding: 0;
  bottom: 0;
  margin-bottom: 20px;
  animation: scrollDown infinite 1.5s;
}

.img_scroll_down {
  filter: invert(100%);
  width: 40px;
  margin-left: 0;
  top: 0;
  margin-left: 50%;
}

#top_div_title img {
  height: 7.5vh;
  filter: contrast(100%);
  float: left;
  margin-left: 1%;
  margin-top: 1.5vh;
  padding-right: 0.7vw
}

#seconde_ligne {
  font-size: 2.5vh;
}

#inscription_div {
  background: none;
  position: absolute;
  border: 2px rgb(255, 255, 255) solid;
  color: white;
  border-radius: 5px;
  width: 40%;
  font-size: 2.5vh;
  padding: 15px;
  outline: none;
  text-align: center;
  margin-top: 3vh;
  transition: all 0.2;
  word-wrap: break-word;
}

#inscription_div:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.082);
}

#inscription_div:focus {
  background-color: rgba(255, 255, 255, 0.281);
}

#savoir_plus {
  font-size: 1.5vh;
  color: white;
  top: 0;
}

.savoir_plus_link {
  width: auto;
  width: 50vw;
}

/*#div_général_connexion{
    width:50vw;
    float:right
}
#div_général_connexion p{
    float:right
}*/
#button_div {
  background-color: rgba(255, 0, 0, 0);
  right: 0;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
}

#button_div button {
  height: 80%;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}

#se_connecter {
  border: rgb(91, 92, 96) 2px solid;
  font-size: 2.5vh;
  text-align: center;
  right: 0;
  padding: 0px 10px 0px 10px;
  margin-top: 1vh;
  color: black;
}

#se_connecter:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
}

#se_connecter p {
  text-align: center;
}

#enregistrer {
  border: transparent 2px solid;
  font-size: 2.5vh;
  text-align: center;
  right: 0;
  padding: 0px 10px 0px 10px;
  margin-top: 1vh;
  color: black;
}

#enregistrer:hover {
  cursor: pointer;
  background-color: white;
  ;
  border: transparent 2px solid;
  text-decoration: underline;
}

#ou {
  border: transparent 2px solid;
  font-size: 2.5vh;
  text-align: center;
  right: 0;
  padding: 0px 10px 0px 10px;
  margin-top: 1vh;
  height: auto;
  color: black;
  margin-bottom: 0;
}

#ou:hover {
  cursor: default;
}

#disponible {
  font-style: italic;
  font-family: georgia, "times new roman", norasi, serif;
  font-size: 2vh;
  ;
  /*margin-top: 25vh;*/
}

#disponible_div {
  position: absolute;
  bottom: 20px;
  /*background-color: rgb(255, 0, 0);*/
}

#infos_generales_site {
  display: flex;
  flex-direction: column;
  background-color: rgb(247, 247, 247);
}

.flex_horizon {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  width: calc(100% - 0px);
  background-color: rgba(253, 0, 0, 0);
}

.img_index_desc {
  filter: invert(5%);
  height: 20vh;
  width: 20vh;
  text-align: center;
  margin-left: calc(50% - 10vh)
}

/*.img_index_desc_div{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height:40vh;
    width:40vh;
}*/
.flex_horizon p {
  padding-left: 2%;
  padding-right: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  width: 70vw;
  font-size: 2.3vh;
  color: rgb(46, 46, 46);
  margin-top: 15vh;
}

.flex_horizon h1 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  font-size: 3.7vh;
}

#flex_p {
  display: flex;
  flex-direction: row;
  width: calc(100vw - 20px);
  margin-left: 0vw;
  text-align: center;
  padding: 10px;
}

.fonctionnalites {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 2%;
  padding-right: 2%;
  width: 100%;
  font-size: 20px;
  color: rgb(46, 46, 46);
  /*margin-top: 15vh;*/
  left: 0
}

.flexcol {
  display: flex;
  flex-direction: column;
  width: 33%;
  font-size: 1.5vh;
  padding: 10px;
  word-wrap: break-word;
}

.flexcol img {
  width: 10vh;
  margin: 0;
  margin-left: calc(50% - 5vh);
}

#espace_div_bcc {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  color: rgb(0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2.2vh;
}

.content_div_espace {
  width: 50%;
  padding-left: 10vw;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
}

.separator_height {}

#espace_div_bcc .div_img {
  margin-left: 10vw;
  /*padding-top: calc(49vh - 10vw)*/
}

#espace_div_bcc .div_img img {
  height: 20vw;
  filter: invert(5%);
}

.bottom_bottom {
  flex-wrap: wrap
}

.button_espace_container {
  width: auto;
  background-color: rgb(91, 92, 96);
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 2vh;
  border: rgb(91, 92, 96) 3px solid;
  outline: none;
  padding: 0;
  text-align: center;
  color: white;
  text-decoration: none;
}

#button_espace:hover {
  cursor: pointer;
}

#button_espace:focus {
  border: rgb(83, 84, 88) 3px solid;
  border-radius: 0px;
  background-color: rgb(83, 84, 88);
}

#p_different {
  font-size: 1.5vh;
  text-transform: uppercase;
}

.content_div_espace h1 {
  font-size: 5vh;
}

.content_div_espace p {
  font-size: 2.3vh;
}

.séparation {
  background-color: rgba(0, 0, 0, 0.164);
  height: 2px;
  width: 70%;
  margin-left: 15%
}

#bcc_icons h1,
#bcc_icons h2 {
  color: white;
}

#bcc_icons img {
  filter: invert(100%)
}

/*ANIMATIONS*/
#petite_presentation {
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    margin-bottom: 10px;
  }

  50% {
    opacity: 1;
    margin-bottom: 0px;
  }

  100% {
    opacity: 0;
    margin-bottom: -10px;
  }
}