html,
body {
    padding: 0;
    margin: 0;
    background-color: rgb(54, 57, 63);
}

html {
    scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  display: none;
}
a {
    text-decoration: none;
}

@font-face {
    font-family: 'happy_monkeyregular';
    src: url('fonts/happymonkey-regular-webfont.woff2') format('woff2'), url('fonts/happymonkey-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stardos_stencilbold';
    src: url('fonts/stardos/stardosstencil-bold-webfont.woff2') format('woff2'), url('fonts/stardos/stardosstencil-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'stardos_stencilregular';
    src: url('fonts/stardos/stardosstencil-regular-webfont.woff2') format('woff2'), url('fonts/stardos/stardosstencil-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../img/codebcc2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#bcc_icons {
    background-image: url(../img/office2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 120px;
    padding-bottom: 120px;
}

#img_accueil {
    width: 100%;
    height: auto;
    position: fixed;
}

#div_img_accueil {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /*filter:blur(0px);*/
    transition: filter 1s ease;
    /*transform: scaleX(-1);*/
    /*filter: brightness(50%);*/
    background-color: rgba(255, 255, 255, 0);
}

#top_div_title {
    height: 10%;
    position: fixed;
    z-index: 200;
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: rgb(91, 92, 96);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#top_div_title_p {
    position: fixed;
    margin-top: 2vh;
    margin-left: 5vw;
    font-size: 4vh;
    transition-delay: 1s;
}

#videointro {
    position: absolute;
    height: 40%;
    margin-left: 30%;
    z-index: 2;
    margin-top: 25%
}

#petite_presentation {
    color: white;
    z-index: 2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    width: 60%;
    text-align: left;
    font-size: 35px;
    margin-left: 5%;
    margin-top: 15vh;
    /*background-color: #fff;*/
    height: 80%;
}
.img_scroll_down_container{
  position:absolute;
  background-color: none;;
  width:100vw;
  left:0;
  z-index: 1000;
  padding:0;
  bottom:0;
  margin-bottom:50px;
  animation: scrollDown infinite 1.5s;
}
.img_scroll_down{
  filter: invert(100%);
  width:40px;
  margin-left:0;
  top:0;
  margin-left:50%;
}

#top_div_title img {
    height: 80%;
    filter: contrast(100%);
    float: left;
    margin-left: 1%;
    margin-top: 0.5%;
    padding-right: 0.7vw
}

#seconde_ligne {
    font-size: 22px;
}

#inscription_div {
    background: none;
    position: absolute;
    border: 2px rgb(255, 255, 255) solid;
    color: white;
    border-radius: 5px;
    width: 50%;
    font-size: 2.5vh;
    padding: 15px;
    outline: none;
    text-align: center;
    margin-top: 3vh;
    transition: all 0.2;
}

#inscription_div:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.082);
}

#inscription_div:focus {
    background-color: rgba(255, 255, 255, 0.281);
}

#savoir_plus {
    font-size: 1.5vh;
    margin-top: 14vh;
    color: white;
}


/*#div_général_connexion{
    width:50vw;
    float:right
}
#div_général_connexion p{
    float:right
}*/

#button_div {
    background-color: rgba(255, 0, 0, 0);
    right: 0;
    position: absolute;
    width: 30%;
    height: 100%;
    align-items: center;
}

#button_div button {
    height: 80%;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
}

#se_connecter {
    border: rgb(91, 92, 96) 2px solid;
    position: absolute;
    font-size: 16px;
    text-align: center;
    margin-left: 10%;
    width: 10vw;
    margin-top: 1vh;
    color:black;
}

#se_connecter:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.04);
}

#se_connecter p {
    text-align: center;
}

#enregistrer {
    border: rgb(255, 255, 255) 2px solid;
    position: absolute;
    font-size: 16px;
    text-align: center;
    margin-left: 61%;
    width: 10vw;
    margin-top: 1vh;
    color:black;
}

#enregistrer:hover {
    cursor: pointer;
    background-color: white;;
    border: white 2px solid;
    text-decoration: underline;
}

#enregistrer {
    padding: 0;
    padding-top: 0vh;
    text-align: center;
}

#ou {
    border: rgb(255, 255, 255) 2px solid;
    position: absolute;
    font-size: 16px;
    text-align: center;
    margin-left: calc(50% - 2px);
    width: 3vw;
    margin-top: 1vh;
    height: 70%;
    color:black;
}

#ou:hover {
    cursor: default;
}

#ou p {
    padding: 0;
    padding-top: 0vh;
    text-align: center;
}

#disponible {
    font-style: italic;
    font-family: georgia, "times new roman", norasi, serif;
    font-size: 17px;
    /*margin-top: 25vh;*/
}

#disponible_div {
    position: absolute;
    bottom: 0px;
    /*background-color: rgb(255, 0, 0);*/
}

#infos_generales_site {
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 247, 247);
}

.flex_horizon {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    width: 100%;
    background-color: rgba(253, 0, 0, 0);
}

.img_index_desc {
    filter: invert(5%);
    height: 20vh;
    width: 20vh;
    text-align: center;
    margin-left: calc(50% - 10vh)
}


/*.img_index_desc_div{
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height:40vh;
    width:40vh;
}*/

.flex_horizon p {
    padding-left: 2%;
    padding-right: 2%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    width: 70vw;
    font-size: 20px;
    color: rgb(46, 46, 46);
    margin-top: 15vh;
}

.flex_horizon h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#flex_p {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-left: 10vw;
    text-align: center;
}

.fonctionnalites {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 2%;
    padding-right: 2%;
    width: 100%;
    font-size: 20px;
    color: rgb(46, 46, 46);
    /*margin-top: 15vh;*/
    left: 0
}

.flexcol {
    display: flex;
    flex-direction: column;
    width: 33%
}

.flexcol img {
    width: 20%;
    margin: 0;
    margin-left: calc(50% - 8%);
}

#espace_div_bcc {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.2vh;
}

.content_div_espace {
    width: 50%;
    padding-left: 10vw;
    padding-top: 5vh;
    margin-top: 10vh;
}

#espace_div_bcc img {
    width: 25%;
    height: 50%;
    margin-top: 23vh;
    margin-left: 3vw;
    filter: invert(5%)
}

.button_espace_container {
    width: 33vw;
    background-color: rgb(91, 92, 96);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 2vh;
    border: rgb(91, 92, 96) 3px solid;
    outline: none;
    padding:0;
    text-align: center;
    color: white;
    text-decoration: none;
}

#button_espace:hover {
    cursor: pointer;
}

#button_espace:focus {
    border: rgb(83, 84, 88) 3px solid;
    border-radius: 0px;
    background-color: rgb(83, 84, 88);
}

#p_different {
    font-size: 1.5vh;
    text-transform: uppercase;
}

.séparation {
    background-color: rgba(0, 0, 0, 0.164);
    height: 2px;
    width: 70%;
    margin-left: 15%
}

#bcc_icons h1,
#bcc_icons h2 {
    color: white;
}

#bcc_icons img {
    filter: invert(100%)
}


/*ANIMATIONS*/

#petite_presentation {
    animation: fadein 2s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes scrollDown{
  0% {
    opacity:0;
    margin-bottom:70px;
  }
  50% {
    opacity:1;
    margin-bottom:50px;
  }
  100% {
    opacity:0;
    margin-bottom:30px;
  }
}
