html, body {
  padding: 0;
  margin: 0;
  background-image: url("../img/codebcc2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 100vh;
  font-family: "Product Sans Medium Regular";
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'happy_monkeyregular';
  src: url("../fonts/happymonkey-regular-webfont.woff2") format("woff2"), url("../fonts/happymonkey-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Thin Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Light Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Light.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Black.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Thin Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Light Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Bold"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Bold Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-BlackItalic.woff") format("woff");
}

/*
 MAIN
 */
.back_to_main {
  filter: invert(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: auto;
  margin-top: 30px;
  margin-left: 20px;
}

.title_form_container {
  position: absolute;
  color: white;
  background: none;
  width: 100vw;
  text-align: center;
  font-family: "Product Sans Medium Regular";
  margin-top: 15vh;
  font-size: 2vh;
}

.form_container {
  background-color: white;
  position: fixed;
  margin-top: 25vh;
  margin-left: 30vw;
  min-width: 40vw;
  min-height: 50vh;
}

.input_text {
  width: calc(80% - 24px);
  margin-left: 10%;
  padding: 20px;
  background-color: #FFFFFF;
  font-family: "Product Sans Medium Regular";
  border-radius: 0px;
  outline: none;
  border: 2px solid white;
  border-bottom: 2px black solid;
  margin-top: 10px;
}

.label_container {
  margin-top: 50px;
  width: calc(80% - 24px);
  margin-left: 10%;
}

.button_submit_signin {
  background-color: white;
  color: black;
  outline: none;
  border: black 2px solid;
  font-family: "Product Sans Medium Regular";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: calc(50%);
  margin-left: 25%;
}

.button_submit_signin:hover {
  background-color: lightgray;
  cursor: pointer;
}

p {
  font-family: "Product Sans Medium Regular";
  color: black;
  font-size: 11px;
  text-align: center;
}

p a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

form h1 {
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

form h2 {
  color: black;
  font-size: 17px;
  font-weight: lighter;
  text-align: center;
}

form input {
  width: calc(80% - 24px);
  margin-left: 10%;
  padding: 10px;
  background-color: #FFFFFF;
  font-family: "Product Sans Medium Regular";
  border-radius: 0px;
  outline: none;
  border: 2px solid white;
  border-bottom: 2px black solid;
  margin-top: 10px;
}

form textarea {
  width: calc(80% - 24px);
  margin-left: 10%;
  padding: 10px;
  background-color: #FFFFFF;
  font-family: "Product Sans Medium Regular";
  border-radius: 0px;
  outline: none;
  border: 2px solid white;
  border-bottom: 2px black solid;
  margin-top: 10px;
  height: 17px;
  resize: none;
}

form button {
  color: black;
  font-family: "Product Sans Medium Regular";
  font-size: 15px;
  height: 50px;
  width: 200px;
  margin-left: calc(50% - 100px);
  padding: 5px;
  background-color: white;
  border: none;
}

@media only screen and (max-width: 240px) {
  form button {
    width: 90%;
    margin-left: 5%;
  }
}

form button:hover {
  color: white;
  background-color: #b41e10;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .form_container {
    width: calc(50vw - 20px);
    margin-left: 25vw;
  }
}

@media only screen and (max-width: 700px) {
  .form_container {
    width: calc(70vw - 20px);
    margin-left: 15vw;
  }

  .form_title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 455px) {
  .form_container {
    width: calc(100vw - 20px);
    margin-left: 10px;
  }

  .form_title {
    font-size: 20px;
  }
}