html, body {
  padding: 0;
  margin: 0;
  background-image: url("../img/codebcc2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  height: 100vh;
  font-family: "Product Sans Medium Regular";
}

a {
  text-decoration: none;
}

@font-face {
  font-family: 'happy_monkeyregular';
  src: url("../fonts/happymonkey-regular-webfont.woff2") format("woff2"), url("../fonts/happymonkey-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Regular.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Thin Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Thin Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Thin.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Light Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Light.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Medium Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black Regular"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Black.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Thin Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Thin Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-ThinItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Light Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-LightItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Medium Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Bold"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Bold Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: 'Product Sans Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local("Product Sans Black Italic"), url("../fonts/google-sans-cufonfonts-webfont/ProductSans-BlackItalic.woff") format("woff");
}

/*
 MAIN
 */
.back_to_main {
  filter: invert(100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: auto;
  margin-top: 30px;
  margin-left: 20px;
}

.title_form_container {
  position: absolute;
  color: white;
  background: none;
  width: 100vw;
  text-align: center;
  font-family: "Product Sans Medium Regular";
  margin-top: 15vh;
  font-size: 2vh;
}

.form_container {
  background-color: white;
  position: fixed;
  margin-top: 25vh;
  margin-left: 35vw;
  width: calc(30vw - 20px);
  min-height: calc(50vh - 20px);
  padding: 10px;
}

.input_text {
  width: calc(80% - 24px);
  margin-left: 10%;
  padding: 10px;
  background-color: #FFFFFF;
  font-family: "Product Sans Medium Regular";
  border-radius: 0px;
  outline: none;
  border: 2px solid white;
  border-bottom: 2px black solid;
  margin-top: 10px;
}

.input_text_name {
  width: calc(35% - 24px);
  margin-left: 10%;
  padding: 10px;
  background-color: #FFFFFF;
  font-family: "Product Sans Medium Regular";
  border-radius: 0px;
  outline: none;
  border: 2px solid white;
  border-bottom: 2px black solid;
  margin-top: 10px;
}

.name_container_flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  left: 0;
  background-color: transparent;
}

.label_container {
  margin-top: 50px;
  width: calc(80% - 24px);
  margin-left: 10%;
}

.button_submit_signup {
  background-color: white;
  color: black;
  outline: none;
  border: black 2px solid;
  font-family: "Product Sans Medium Regular";
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  width: calc(50%);
  margin-left: 25%;
}

.button_submit_signup:hover {
  background-color: lightgray;
  cursor: pointer;
}

p {
  font-family: "Product Sans Medium Regular";
  color: black;
  font-size: 11px;
  text-align: center;
  padding: 0 10px 0 10px;
}

p a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
}

@media only screen and (max-width: 1390px) {
  .form_container {
    width: calc(40vw - 20px);
    margin-left: 30vw;
  }
}

@media only screen and (max-width: 1100px) {
  .form_container {
    width: calc(50vw - 20px);
    margin-left: 25vw;
  }
}

@media only screen and (max-width: 900px) {
  .form_container {
    width: calc(80vw - 20px);
    margin-left: 10vw;
  }
}

@media only screen and (max-width: 600px) {
  .form_container {
    width: calc(95vw - 20px);
    margin-left: 2.5vw;
  }
}

@media only screen and (max-width: 300px) {
  .button_submit_signup {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 450px) {
  .name_container_flex {
    display: block;
    padding: 0;
    margin: 0;
    height: auto;
  }

  input[name="pseudo"] {
    margin-top: -8px;
  }

  .input_text_name {
    width: calc(80% - 24px);
  }
}