/*LIGNE HAUT TACHE*/
.section_en_dessous_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.ligne_haut_tache {
  background-color: rgba(255, 255, 255, 0);
  height: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: rgba(141, 141, 141, 0.342) 1px solid;
  padding-left: 20px;
  width: auto;
  -webkit-transition: width 3s ease;
  transition: width 3s ease;
  z-index: 999;
  /*box-shadow: 0px 0px 4px 1px gray;*/
}

.ligne_haut_tache #refresh {
  height: 15px;
  margin-top: 12.5px;
  margin-left: 15px;
}

.ligne_haut_tache #refresh:hover {
  animation: rotateAddTask 0.5s;
}

#new_task_img {
  height: 15px;
  margin-top: 12.5px;
  margin-left: 15px;
}

#new_task_img:hover {
  cursor: pointer;
  animation: rotateAddTask 0.5s;
}

@keyframes rotateAddTask {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.ligne_haut_tache .trash {
  height: 15px;
  margin-top: 12.5px;
  margin-left: 15px;
  display: none;
}

.ligne_haut_tache input {
  height: 15px;
  width: 15px;
}

.tasks_done {
  float: right;
  margin-right: 18px;
  height: 20px;
  margin-top: 10px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.tasks_done:hover {
  cursor: pointer;
}

.ligne_et_taches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 50%;
  ;
  /*position: absolute;*/
  /*margin-left: 260px;
  width: calc(100% - 260px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;*/
}

#refresh:hover {
  cursor: pointer;
}

/*PARTIE TACHES NON EFFECTUEES*/
.liste_taches {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
  padding: 0px 0px 0px 0px;
  margin-top: 0px;
  /*position: absolute;*/
  bottom: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-margin-after: 0;
  margin-block-end: 0;
  -webkit-transition: width 3s ease;
  transition: width 3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  right: 0;
  z-index: 2;
}

/*#test_ul {
    padding: 0;
    background-color: rgb(255, 0, 0);

}
*/
.liste_taches li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: rgba(141, 141, 141, 0.342) 1px solid;
  padding-left: 20px;
  width: 100%;
}

.liste_taches li:hover {
  -webkit-box-shadow: 0.5px 0.5px 1px #555;
  box-shadow: 0.5px 0.5px 1px #555;
  cursor: pointer;
}

.titre_tache,
.utilisateur,
.desc_tache,
.date {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Roboto', sans-serif;
  text-shadow: none;
  font-size: .8rem;
  letter-spacing: .2px;
  width: 100%;
}

.utilisateur {
  width: 80%;
  margin-left: 20px;
  font-weight: bold;
}

.titre_tache {
  width: 200%;
  margin-left: 20px;
  font-weight: bold;
}

.desc_tache {
  margin-left: 20px;
  width: 250%;
}

.date {
  margin-right: 40px;
  text-align: right;
  width: 100%;
  /*background-color: rgb(255, 0, 0);*/
}

.input_img {
  height: 15px;
  width: 15px;
}

.tick {
  margin-left: 19px;
  margin-top: 3px;
}

.tick2 {
  margin-left: 19px;
  margin-top: 3px;
}

/*MODAL*/
/* Modal Content/Box */
aside[name~=popup_modal_task] .modal-wrapper {
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  background-color: white
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -5px;
}

.close:hover,
.close:focus {
  color: #b41e10;
  text-decoration: none;
  cursor: pointer;
}

.myBtn {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  padding: 0;
  width: auto;
  outline: none;
  /*border-right: red 5px solid;*/
}

.done-task span {
  text-decoration: line-through;
}

.list_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: auto;
  height: calc(100vh - 103px);
  overflow-y: scroll;
  background-color: white;
}

.modal-content .modal-wrapper {
  font-family: "Product Sans Regular";
  font-size: .875rem;
  letter-spacing: .5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.titre_popup {
  width: 97%;
  white-space: initial;
  overflow: hidden;
  margin-top: 20px;
  font-size: 1rem;
}

.descriptif_popup {
  width: 97%;
  white-space: initial;
  overflow: hidden;
}

.line_popup {
  background-color: rgba(141, 141, 141, 0.342);
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  width: 97%;
}

#logo_popup {
  width: auto;
  height: 50px;
}

.header_popup {
  font-family: "Product Sans Regular";
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: -15px;
  color: #b41e10;
  text-align: center;
  width: 100%;
}

.header_popup p {
  text-align: center;
}

/*MENU BURGER ICON*/
*:focus {
  outline: none;
}

#webapp_cover {
  position: absolute;
  top: 30px;
  width: 10px;
  margin: 0 auto;
  margin-left: -18px;
  -webkit-transform: translateY(-50%) scale(0.7);
  transform: translateY(-50%) scale(0.7);
  background-color: white;
}

#menu_button {
  width: 39px;
  overflow: hidden;
  background-color: white;
}

#menu_checkbox {
  display: none;
}

#menu_label {
  position: relative;
  display: block;
  height: 29px;
  cursor: pointer;
}

#menu_label:before,
#menu_label:after,
#menu_text_bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #b41e10;
}

#menu_label:before,
#menu_label:after {
  content: '';
  -webkit-transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
  border-radius: 20px;
}

#menu_label:before {
  top: 0;
}

#menu_label:after {
  top: 12px;
}

#menu_text_bar {
  top: 24px;
  border-radius: 20px;
}

#menu_text_bar:before {
  content: 'MENU';
  position: absolute;
  top: 5px;
  right: 0;
  left: 0;
  color: #b41e10;
  font-size: 12px;
  font-weight: bold;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  text-align: center;
}

#menu_checkbox:checked+#menu_label:before {
  left: -39px;
}

#menu_checkbox:checked+#menu_label:after {
  left: 39px;
}

#menu_checkbox:checked+#menu_label #menu_text_bar:before {
  -webkit-animation: moveUpThenDown 0.5s ease 0.2s forwards, shakeWhileMovingUp 0.5s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.5s forwards;
  animation: moveUpThenDown 0.5s ease 0.2s forwards, shakeWhileMovingUp 0.5s ease 0.2s forwards, shakeWhileMovingDown 0.2s ease 0.5s forwards;
}

@-webkit-keyframes moveUpThenDown {
  0% {
    top: 0;
  }

  50% {
    top: -27px;
  }

  100% {
    top: -14px;
  }
}

@keyframes moveUpThenDown {
  0% {
    top: 0;
  }

  50% {
    top: -27px;
  }

  100% {
    top: -14px;
  }
}

@-webkit-keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  25% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  75% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingUp {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  25% {
    -webkit-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
  }

  50% {
    -webkit-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }

  75% {
    -webkit-transform: rotateZ(10deg);
    transform: rotateZ(10deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@-webkit-keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  80% {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }

  90% {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

@keyframes shakeWhileMovingDown {
  0% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }

  80% {
    -webkit-transform: rotateZ(3deg);
    transform: rotateZ(3deg);
  }

  90% {
    -webkit-transform: rotateZ(-3deg);
    transform: rotateZ(-3deg);
  }

  100% {
    -webkit-transform: rotateZ(0);
    transform: rotateZ(0);
  }
}

/*ADD TASK MODAL*/
#add_task {
  border: 2px solid black -webkit-box-shadow: #4b4b4b 0px 0px 15px;
  box-shadow: #4b4b4b 0px 0px 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 9999
}

#add_task .modal-wrapper {
  width: 80%;
  height: 65%;
  top: 17%;
  left: 10%;
}

#section_ligne_haut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#section_ligne_haut img {
  height: 50px;
}

#section_ligne_haut p {
  position: absolute;
  width: 100%;
  font-family: "Product Sans Regular";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #b41e10;
  text-align: center;
}

#section_ligne_bas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 50px;
  width: 100%;
}

#section_ligne_bas h1 {
  font-family: "Product Sans Regular";
  font-size: 1rem;
  color: #b41e10;
}

#section_ligne_bas h2 {
  font-family: "Product Sans Regular";
  font-size: 0.8rem;
  font-weight: lighter;
  color: #d4d1d1;
}

#section_ligne_bas form {
  margin-left: 10%;
  width: 80%;
  height: auto;
  /*background-color: red;*/
}

#section_ligne_bas input {
  resize: none;
  font-family: "Product Sans Regular";
  font-size: 14px;
  color: black;
  width: 95%;
  padding: 10PX;
  left: 0;
  border-radius: 10px;
  outline: none;
  border: gray 1px solid;
}

#section_ligne_bas input[name="title"] {
  height: 17px;
  overflow-y: hidden;
}

#section_ligne_bas input[name="description"] {
  height: 150px;
  ;
}

#section_ligne_bas button {
  height: 40px;
  width: 100px;
  background-color: white;
  color: #b41e10;
  outline: none;
  border: white 2px solid;
  font-family: "Product Sans Regular";
  font-size: 1rem;
  font-weight: 500;
}

#section_ligne_bas button:hover {
  height: 40px;
  width: 100px;
  background-color: #b41e10;
  color: #ffffff;
  outline: none;
  border: white 2px solid;
  font-family: "Product Sans Regular";
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#button_line {
  right: 0;
  float: right;
  padding: 0;
  top: 0;
  margin-top: 20px;
  margin-right: 2%;
  margin-bottom: 50px;
}

.close_add {
  color: #aaa;
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
  text-align: right;
  right: 0;
  margin-right: 30px;
  font-size: 28px;
  font-weight: bold;
}

.close_add:hover,
.close_add:focus {
  color: #b41e10;
  text-decoration: none;
  cursor: pointer;
}

/*EDIT TASK*/
#edit .modal-wrapper {
  width: 80%;
  height: 65%;
  top: 17%;
  left: 10%;
}

@-webkit-keyframes ModalComing {
  0% {
    display: block;
    -webkit-transform: scaleX(0) scaleY(0);
    transform: scaleX(0) scaleY(0);
  }

  10% {
    -webkit-transform: scaleX(0) scaleY(0.1);
    transform: scaleX(0) scaleY(0.1);
  }

  50% {
    -webkit-transform: scaleX(1) scaleY(0.1);
    transform: scaleX(1) scaleY(0.1);
  }

  100% {
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@keyframes ModalComing {
  0% {
    display: block;
    -webkit-transform: scaleX(0) scaleY(0);
    transform: scaleX(0) scaleY(0);
  }

  10% {
    -webkit-transform: scaleX(0) scaleY(0.1);
    transform: scaleX(0) scaleY(0.1);
  }

  50% {
    -webkit-transform: scaleX(1) scaleY(0.1);
    transform: scaleX(1) scaleY(0.1);
  }

  100% {
    -webkit-transform: scaleX(1) scaleY(1);
    transform: scaleX(1) scaleY(1);
  }
}

@-webkit-keyframes ModalComingBoth {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes ModalComingBoth {
  0% {
    opacity: 0;
  }

  65% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes ModalLeaving {
  0% {
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes ModalLeaving {
  0% {
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes Rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes RotateInv {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes RotateInv {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}