.section_en_dessous_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%
}

.section_en_dessous_menu {
  display: flex;
  flex-direction: row;
}

.add_remove_user_bar {
  background-color: white;
  border-bottom: rgba(141, 141, 141, 0.342) 1px solid;
  height: 45px;
  width: 100%;
}

.add_remove_user_bar img {
  height: 15px;
  margin-top: calc(22px - 7px);
  margin-left: 15px;
}

.add_remove_user_bar img:hover {
  cursor: pointer;
  animation: rotateAddTask 0.5s;
}

.main-table-user {
  padding: 10px;
  background-color: white;
  height: calc(100vh - 128px);
  overflow-y: scroll;
}

table {
  width: 100%;
  background-color: white;
  text-align: center;
}

tr {
  height: 200px;
  background-color: white;
}

td {
  width: calc(100% / 6);
  padding-top: 10px;
  border-bottom: rgba(141, 141, 141, 0.342) 1px solid;
  transition: all 0.3s;
}

td:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  transition: all 0.3s;
  cursor: pointer;
}

.img_user_profile {
  width: 40%;
  margin-left: 30%;
}

.img_user_profile img {
  width: 100%;
  border-radius: 50%;
}

td h1 {
  color: #b41e10;
  font-family: "Product Sans Regular";
  font-size: 20px;
  letter-spacing: 1px;
}

td p {
  font-family: "Product Sans Regular";
  font-size: 10px;
  color: gray;
}

td:hover .delete_user_div {
  opacity: 1;
  transform: scaleY(1);
  visibility: visible;
  transition: all 0.3s;
}

.delete_user_div {
  width: calc(100% - 0px);
  height: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
  opacity: 0;
  transform: scaleY(0);
  transition: all 0.3s;
  visibility: hidden;
  display: block;
  margin-top: -50px;
  ;
}

.delete_user_div:hover {
  background-color: lightgray;
}

.delete_user_div img {
  height: 50%
}

.delete_user_div h2 {
  font-family: "Product Sans Light Regular";
  font-size: 10px;
  color: black;
  margin-top: 5px;
}

@keyframes rotateAddTask {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

#add .modal-wrapper {
  width: 40%;
  height: 40%;
}

#add h1 {
  text-align: center;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: #b41e10;
  font-weight: bold;
  font-size: 19px;
}

#add h2 {
  text-align: center;
  font-family: "Product Sans Regular";
  text-transform: uppercase;
  color: black;
  font-weight: normal;
  font-size: 15px;
}

#add input {
  width: 80%;
  padding: 10px;
  font-family: "Product Sans Regular";
  border-radius: 5px;
  margin-left: calc(10% - 10px);
  outline: none;
  border: gray 2px solid;
}

#add input:focus {
  background-color: #ffffff;
  border: #ffffff 2px solid;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: 0.5px 0.5px 5px #555;
  box-shadow: 0.5px 0.5px 5px #555;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.flex_add_user {
  font-family: "Product Sans Regular";
  font-size: 15px;
  width: 100%;
  text-align: center
}

.flex_add_user .no_add_user {
  border: white 2px solid;
  color: black;
  display: block;
  height: auto;
  text-align: center;
  font-size: 13px;
}

.flex_add_user .yes_add_user {
  border: white 2px solid;
  color: #b41e10;
  display: block;
  height: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 17px
}

.flex_add_user a:hover {
  text-decoration: underline;
}