@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-world:before { content: "\f100"; }
.flaticon-002-cloud:before { content: "\f101"; }
.flaticon-003-coding:before { content: "\f102"; }
.flaticon-004-coding:before { content: "\f103"; }
.flaticon-005-cut:before { content: "\f104"; }
.flaticon-006-browser:before { content: "\f105"; }
.flaticon-007-data-transfer:before { content: "\f106"; }
.flaticon-008-design:before { content: "\f107"; }
.flaticon-009-design:before { content: "\f108"; }
.flaticon-010-edit:before { content: "\f109"; }
.flaticon-011-edit:before { content: "\f10a"; }
.flaticon-012-404-error:before { content: "\f10b"; }
.flaticon-013-404-error:before { content: "\f10c"; }
.flaticon-014-favorite:before { content: "\f10d"; }
.flaticon-015-file:before { content: "\f10e"; }
.flaticon-016-folder:before { content: "\f10f"; }
.flaticon-017-homepage:before { content: "\f110"; }
.flaticon-018-image:before { content: "\f111"; }
.flaticon-019-link:before { content: "\f112"; }
.flaticon-020-paint:before { content: "\f113"; }
.flaticon-021-printer:before { content: "\f114"; }
.flaticon-022-receive:before { content: "\f115"; }
.flaticon-023-line-graph:before { content: "\f116"; }
.flaticon-024-refresh:before { content: "\f117"; }
.flaticon-025-search:before { content: "\f118"; }
.flaticon-026-send:before { content: "\f119"; }
.flaticon-027-settings:before { content: "\f11a"; }
.flaticon-028-trash:before { content: "\f11b"; }
.flaticon-029-view:before { content: "\f11c"; }
.flaticon-030-www:before { content: "\f11d"; }

$font-Flaticon-001-world: "\f100";
$font-Flaticon-002-cloud: "\f101";
$font-Flaticon-003-coding: "\f102";
$font-Flaticon-004-coding: "\f103";
$font-Flaticon-005-cut: "\f104";
$font-Flaticon-006-browser: "\f105";
$font-Flaticon-007-data-transfer: "\f106";
$font-Flaticon-008-design: "\f107";
$font-Flaticon-009-design: "\f108";
$font-Flaticon-010-edit: "\f109";
$font-Flaticon-011-edit: "\f10a";
$font-Flaticon-012-404-error: "\f10b";
$font-Flaticon-013-404-error: "\f10c";
$font-Flaticon-014-favorite: "\f10d";
$font-Flaticon-015-file: "\f10e";
$font-Flaticon-016-folder: "\f10f";
$font-Flaticon-017-homepage: "\f110";
$font-Flaticon-018-image: "\f111";
$font-Flaticon-019-link: "\f112";
$font-Flaticon-020-paint: "\f113";
$font-Flaticon-021-printer: "\f114";
$font-Flaticon-022-receive: "\f115";
$font-Flaticon-023-line-graph: "\f116";
$font-Flaticon-024-refresh: "\f117";
$font-Flaticon-025-search: "\f118";
$font-Flaticon-026-send: "\f119";
$font-Flaticon-027-settings: "\f11a";
$font-Flaticon-028-trash: "\f11b";
$font-Flaticon-029-view: "\f11c";
$font-Flaticon-030-www: "\f11d";