html,
body {
    padding: 0;
    margin: 0;
    background-color: rgb(54, 57, 63);
}


@font-face {
    font-family: 'happy_monkeyregular';
    src: url('fonts/happymonkey-regular-webfont.woff2') format('woff2'),
        url('fonts/happymonkey-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'stardos_stencilbold';
    src: url('fonts/stardos/stardosstencil-bold-webfont.woff2') format('woff2'),
        url('fonts/stardos/stardosstencil-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'stardos_stencilregular';
    src: url('fonts/stardos/stardosstencil-regular-webfont.woff2') format('woff2'),
        url('fonts/stardos/stardosstencil-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#img_accueil {
    width: 100%;
    height: auto;
    position: fixed;
}

#div_img_accueil {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /*filter:blur(0px);*/
    transition: filter 1s ease;
    transform: scaleX(-1);
    filter:brightness(70%)
}

#top_div_title {
    height: 10%;
    position: fixed;
    z-index: 200;
    background-color: rgb(255, 255, 255);
    width: 100%;
    color: rgb(91, 92, 96);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#top_div_title_p {
    position:fixed;
    margin-top: 2vh;
    margin-left:5vw;
    font-size: 4vh;
    transition-delay: 1s;
    

}

#videointro {
    position: absolute;
    height: 40%;
    margin-left: 30%;
    z-index: 2;
    margin-top: 25%
}

#petite_presentation {
    color: white;
    z-index: 2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    width: 60%;
    text-align: left;
    font-size:5vh;
    margin-left:5%;
    margin-top:15vh
}

#top_div_title img {
    height: 60%;
    filter: contrast(120%);
    float: left;
    margin-left: 1%;
    margin-top:1.2%;
    padding-right:0.7vw
}
#seconde_ligne{
    font-size:3vh;
}
#inscription_div{
    background-color: none;
    position: absolute;
    border:2px rgb(255, 255, 255) solid;
    border-radius: 5px;
    width:50%;
    font-size: 2.5vh;
    padding:10px 10px 10px 10px;
    text-align: center;
    margin-top:3vh;
    transition:all 0.2;
}

#savoir_plus{
    font-size:1.5vh;
    margin-top:14vh
}
/*#div_général_connexion{
    width:50vw;
    float:right
}
#div_général_connexion p{
    float:right
}*/
#se_connecter{
    border:rgb(91, 92, 96) 2px solid;
    position:absolute;
    font-size:2vh;
    text-align: center;
    margin-left:88vw;
    width:10vw;
    margin-top:1vh;
    
}
#se_connecter p{
    text-align: center;
}
#enregistrer{
    border:rgb(255, 255, 255) 2px solid;
    position:absolute;
    font-size:2vh;
    text-align: center;
    margin-left:75vw;
    width:10vw;
    margin-top:1vh;
    
}
#enregistrer p{
    padding:0;
    padding-top:0vh;
    text-align: center;
}
#ou{
    border:rgb(255, 255, 255) 2px solid;
    position:absolute;
    font-size:2vh;
    text-align: center;
    margin-left:84vw;
    width:3vw;
    margin-top:1vh;
    
}
#ou p{
    padding:0;
    padding-top:0vh;
    text-align: center;
}

#disponible{
    font-style: italic;
    font-family:georgia, "times new roman", norasi, serif;
    font-size:2.2vh;
    margin-top:25vh;
}